body {
  font-family: Segoe Script;
  background-image: url("https://www.mobafire.com/images/champion/skins/landscape/garen-god-king.jpg");
background-repeat: no-repeat;
background-size: 1700px 1300px;
margin: 0;
border: 5px #663300 solid;

}
header{
	text-align: center; 
	margin-top: 5px 0 200px 0;
	font-size: 30px;
	font-style: oblique;
	background-color: rgba(166, 112, 58, 0.49);
}


main {
	max-width: 1000px;
	text-align: center;
	margin-left: 250px;
	margin-top: 40px;
	background-color: rgba(166, 112, 58, 0.49);

}
.img2 {
	float:left;
}
